<li>
    <a href="<%= link %>"><img src="<%= images.low_resolution.url %>" /></a>
    <div class="user">
        <a href="http://instagram.com/<%= user.username %>"><img src="<%= user.profile_picture %>" /><%= user.username %></a>
    </div>
    <% if (caption) {  %>
    <div class="caption">
        <%= caption.text %>
    </div>
    <div class="timestamp" %>
        <%= timestamp %>
    </div>
    <% } %>
    <strong>Embed:</strong>
    <textarea><iframe src="<%= link %>embed/" width="612" height="710" frameborder="0" scrolling="no" allowtransparency="true"></iframe></textarea>
</li>
