<li>
    <a href="<%= link %>" target="_blank"><img src="<%= images.low_resolution.url %>" /></a>
    <div class="user">
        <a href="http://instagram.com/<%= user.username %>" target="_blank"><img src="<%= user.profile_picture %>" /><%= user.username %></a>
    </div>
    <% if (caption) {  %>
    <div class="caption">
        <%= caption.text %>
    </div>
    <div class="timestamp" %>
        <%= timestamp %>
    </div>
    <% } %>
    <a href="#" class="clipper" data-clipboard-text='<iframe src="<%= link %>embed/" width="612" height="710" frameborder="0" scrolling="no" allowtransparency="true"></iframe>'>Copy embed code</a>
</li>
