{% extends '_base.html' %}

{% block header_content %}
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Photo finder</h1>
                <h2>Instagram edition</h2>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block wide_content %}
<div class="row">
    <div id="content" class="col-md-12">
    </div>
</div>
{% endblock %}

{% block extra_foot %}
<script type="text/javascript">
    window.INSTAGRAM_CLIENT_ID = '{{ INSTAGRAM_CLIENT_ID }}';
</script>
{% endblock %}
