{% extends '_base.html' %}

{% block header_content %}
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Photo Finder</h1>
                <h2>Search for recent Instagram photos near a location or using a particular hashtag</h2>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block wide_content %}
<div id="search" class="container">
    <div class="row">
        <div class="col-sm-12">
        
            <ul id="search-nav">
                <li class="map active">Map</li>
                <li class="address">Address</li>
                <li class="hashtag">Hashtag</li>
            </ul>
        
            <div id="search-map">
                <p>[Map Here!]</p>
            </div>
        
            <div id="search-address">
                <form id="geocoding">
                    <label for="location">Street Address:</label>
                    <nobr>
                        <input id="location" type="text" value="1600 Pennsylvania Ave NW, Washington" />
                        <input type="submit" value="Search" class="btn btn-blue" />
                    </nobr>

                    <div class="loading" style="display: none;">
                        <p>Loading...</p>
                    </div>

                    <div class="did-you-mean" style="display: none;">
                        <p>Did you mean...?</p>
                        <ul></ul>
                    </div>

                    <div class="not-found" style="display: none;">
                        <p>Sorry, we couldn't find that address.</p>
                    </div>
                </form>
            </div>

            <div id="search-hashtag">
                <form id="tag-search">
                    <label for="tag">Hashtag:</label>
                    <nobr>
                        <input id="tag" type="text" value="nprlife" />
                        <input type="submit" value="Search" class="btn btn-blue" />
                    </nobr>
                    <p class="help-block">Note: This searches hashtags only. It does not search caption text.</p>
                </form>
            </div>

        </div>
    </div>
</div>

<div id="search-results">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
            
                <div class="search-header">
                    <h2>Search Results</h2>
                    <form id="geo-search">
                         <h3>Filter:</h3>

                         <label for="distance">
                             Within
                             <input id="distance" type="text" value="50" />
                             km of this location
                         </label>

                         <label for="hours-back">
                             Within the last
                             <input id="hours-back" type="text" value="48" />
                             hours
                         </label>

                         <input type="submit" value="Search" class="btn btn-blue" />
                    </form>
                </div>

                <div id="photos">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_foot %}
<script type="text/javascript">
    window.INSTAGRAM_CLIENT_ID = '{{ INSTAGRAM_CLIENT_ID }}';
</script>
{% endblock %}
