{% extends '_base.html' %}

{% block header_content %}
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Photo finder</h1>
                <h2>Instagram edition</h2>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block wide_content %}
<div class="row">
    <div class="col-md-12">
        <form id="geocoding">
            <label for="location">Location: 
                <input id="location" type="text" value="1600 Pennsylvania Ave NW, Washington" />
            </label>
            <input type="submit" />

            <div class="loading" style="display: none;">
                <p>Loading...</p>
            </div>

            <div class="did-you-mean" style="display: none;">
                <p>Did you mean...?</p>
                <ul></ul>
            </div>

            <div class="not-found" style="display: none;">
                <p>Sorry, we couldn't find that address.</p>
            </div>
        </form>

        <form id="geo-search">
            <label for="lat">Lat:
                <input id="lat" type="text" value="38.89770045" />
            </label>
            <label for="lng">Lng:
                <input id="lng" type="text" value="-77.0365643605898" />
            </label>
            <label for="distance">Distance (km):
                <input id="distance" type="text" value="50" />
            </label>
            <label for="hours-back">Within last (hours):
                <input id="hours-back" type="text" value="48" />
            </label>
            <input type="submit" />
        </form>

        <form id="tag-search">
            <label for="tags">Tag: 
                <input id="tags" type="text" value="nofilter" />
            </label>
            <input type="submit" />
        </form>

        <ul id="photos">
        </ul>
    </div>
</div>
{% endblock %}

{% block extra_foot %}
<script type="text/javascript">
    window.INSTAGRAM_CLIENT_ID = '{{ INSTAGRAM_CLIENT_ID }}';
</script>
{% endblock %}
